body{
    background-size:cover;
}

.nome_do_jogo{
    display:inline;
}

.instrucoes{
    float:right;
    color:black;
}

.div_de_cima{
    width:100%;
}

.img-responsive{
    display: inline-block;
    width:40%;
}

.modal-dialog{
    width:70% !important;
}

VIDEO{

        background-image:URL("game_console.png");
        background-size:cover;
        background-position:center;
        padding: 25px;

}

